body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4{
    font-family: raleway;
    font-weight: 400;
}

p, span, li {
    font-family: libre baskerville;
}

nav {
    background-color: #FFD8C2;
    padding: 20px;
    z-index: 100;
    .nav-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .nav-item {
            cursor: pointer;
            font-size: 0.9rem;
            &:hover {
                border-bottom: 2px solid black;
            }
        }
    }
}